body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 20px;
}

#controls {
  padding: 8px 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.control-row {
  margin-bottom: 6px;
}

#map {
  width: 100%;
  height: calc(100vh - 90px); /* alto de la pantalla menos header+controles */
}
